.main {
  width: 95vw;
  margin: auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .main {
    display: flex;
    justify-content: center;
  }
}

#login {
  width: 380px;
}

h2 {
  margin-bottom: 30px;
}
